@charset "utf-8";

/* common */

header {
  padding: 0;
  margin: 0;
}

.header-img {
  pointer-events: none;
  vertical-align: bottom;
  object-fit: cover;
  width: 100%;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

h1 {
  margin: 16px auto 0;
}



