@charset "utf-8";

body {
  margin: 0;
}

header {
  background: rgb(224, 246, 254);
  text-align: center;
  padding: 32px 0;
}

header img {
  border-radius: 50%;
}

img {
  pointer-events: none;
  vertical-align: bottom;
  object-fit: cover;
}

h1 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 24px;
}

p {
  margin: 0;
  line-height: 1.8;
}

main {
  margin: 0;
  padding: 48px 0;
}

section {
  width: 256px;
  margin: 48px auto 0;
}

section p {
  margin-top: 16px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3 {
  margin: 0;
  padding-top: 16px;
  font-weight: normal;
  font-size: 20px;
}

footer {
  border-top: 1px solid #ccc;
  padding: 32px 0;
  text-align: center;
}


/* モバイルファースト */
/* width <= 670 */
@media (min-width: 670px) {

}
