@charset "utf-8";

/* ★モバイルファースト */

/* common */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  padding: 0 16px;
}

h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}

img {
  pointer-events: none;
  vertical-align: bottom;
  object-fit: cover;
  width: calc(100% - 16px - 16px);
  height: 400px;
  margin: 0 16px 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  padding: 0 16px;
}

.pc-menu,
.pc-title {
  display: none;
}

.material-icons {
  user-select: none;
}


/* header */
/* .sp-menu */

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

/* .overlay */

.overlay {
  /* 全画面配置 */
  /* 要素を画面上に指定した位置に固定 */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;

  /* アニメーション */
  transition: opacity 0.3s;
}

/* .overlayを表示 */
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  /* 絶対位置指定（基準の位置はサイト全体の左上） */
  position: absolute;
  top: 16px;
  right: 16px;

  font-size: 32px;
  cursor: pointer;
}

.overlay li {
  margin-top: 32px;
  opacity: 0;

  /* 見えない状態で16px下に配置されている*/
  transform: translateY(16px);

  /* アニメーション */
  transition: opacity 0.3s, transform 0.3s;
}

/* アニメーションが無しで表示 → ふわっと下から現れた感じになる */
.overlay.show li  {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}




/* main */

.container h2 {
  font-size: 32px;
  text-align: center;
}



/* ★PC用画面 768pc <= width */
@media (min-width: 768px) {

 /* common */

  .sp-menu,
  .sp-title {
      display: none;
  }


  /* header */

  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .pc-menu a {
    display: block;
    width: 100px;
    line-height: 64px;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #f2f2f2;
  }



  /* main */

  .pc-title {
    display: block;
  }
}


