@charset "utf-8";

/* common */

header {
  padding: 0;
}

.header-img {
  pointer-events: none;
  vertical-align: bottom;
  object-fit: cover;
  width: 100%;
}

h1 {
  margin: 0 auto;
}


