@charset "utf-8";

/* common */

body {
  margin: 0;
}

img {
  pointer-events: none;
  vertical-align: bottom;
  object-fit: cover;
  width: calc(100% - 16px - 16px);
}



.container h1 {
  text-align: center;
}



