@charset "utf-8";

/* common */

body {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
  vertical-align: bottom;
  object-fit: cover;
  width: 100%;
}

/* .header-img {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
} */

.container h1 {
  text-align: center;
}



